<li [class.completed]="todo.completed" [class.editing]="editing">
    <div class="view">
        <input class="toggle" type="checkbox" [formControl]="toggleInputControl"/>
        <label (dblclick)="activeEditMode$.next()">{{ todo.text }}</label>
        <button class="destroy" (click)="deleteTodo.emit(todo.id)"></button>
    </div>
    <input class="edit" type="text" #updateInput (keyup.enter)="updateTodo$.next()" (blur)="updateTodo$.next()"
           [formControl]="updateInputControl" [hidden]="editing"/>
</li>
