<section id="main" class="main">
    <div class="toogle-view" *ngIf="(todos$ | async).length > 0">
        <input id="toggle-all" class="toggle-all" type="checkbox" [formControl]="checkField">
        <label (click)="handleToggleAll()">Mark all as complete</label>
    </div>
    <ul id="todo-list" class="todo-list">
        <app-todo [todo]="todo" *ngFor="let todo of (todos$ | async)"
                  (toggleTodo)="handleToogleTodo($event)"
                  (updateTodo)="handleUpdateTodo($event)"
                  (deleteTodo)="handleDeleteTodo($event)"></app-todo>
    </ul>
</section>
