<section class="todoapp">
    <header class="header">
        <h1>todos</h1>
        <app-new-todo (addTodo)="handleAddTodo($event)"></app-new-todo>
    </header>
    <ng-content></ng-content>
    <app-footer [countUnCompleteTodos]="countUnCompleteTodos$ | async"
                [existCompleteTodos]="existCompleteTodos$ | async"
                [currentFilter]="currentFilter$ | async"
                [shouldFooterShow]="shouldFooterShow$ | async"
                (clearCompleted)="handleClearCompleted()"></app-footer>
</section>
<footer class="info">
    <p>Double-click to edit a todo</p>
    <p>Written by <a href="http://www.linkedin.com/in/angel-nunnez-podio">Angel Núñez</a></p>
    <p>Using <a href="https://angular.io/">Angular</a> and <a href="https://github.com/ngxs/store">@ngxs/store</a></p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
